*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.bodyWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* header */
.header {
  background-color: #52cc8b;
  box-shadow: 0 0 5px #444;
  display: flex;
  flex-direction: column;
}

.header__h1 {
  padding: 10px 0;
}

/* main */
.main {
  position: relative;
  margin: 10px 5%;
  flex: 1 1 auto;
}

/* loader */
.loader {
  margin: 20px auto;
  border: 16px solid #eee;
  border-top: 16px solid #52cc8b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* content */
.main__controlPanel {
  display: flex;
  justify-content: space-between;
  margin: 5px auto 15px;
}

.controlPanel__select {
  min-width: 200px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #fff;
  font-family: inherit;
}

.main__error {
  background-color: #d97373;
  padding: 10px 20px;
}

.main__error,
.details {
  width: 100%;
  margin: 7px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px #aaa;
}

.details:hover {
  box-shadow: 0 0 3px #999;
}

.details__summary {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.chapter__titleContent {
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: 700;
}

.summary {
  display: flex;
}

.summary__schoolName {
  flex: 1 1 auto;
  text-align: left;
}

.summary__statusBar {
  flex: 0 0 370px;
  display: flex;
  justify-content: space-between;
}

.statusBar__max,
.statusBar__avg,
.statusBar__min {
  margin-left: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table__thead {
  background-color: #f2f2f2;
}

.table__chapterName,
.table__filledPercent,
.table__noFilledFields {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
}

.table__chapterName {
  width: 30%;
}

.table__filledPercent {
  width: 10%;
}

.table__noFilledFields {
  width: auto;
}

/* footer */
.footer {
  padding: 15px;
  background-color: #52cc8b;
  text-align: center;
  box-shadow: 0 0 5px #444;
}

.noneDisplay {
  display: none;
}

/* адаптивность */
@media (max-width: 992px) {
  .summary__statusBar {
    flex-basis: 330px;
  }
}

@media (max-width: 768px) {
  .header__h1 {
    font-size: 1.3em;
  }
  .controlPanel__select,
  .details__summary,
  .chapter__titleContent {
    font-size: 1em;
  }
  .details_chapter {
    font-size: .8em;
  }
  .summary__statusBar {
    flex-basis: 280px;
  }
}

@media (max-width: 576px) {
  .details__summary {
    display: flex;
    flex-direction: column;
  }
  .summary__schoolName {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .summary__statusBar {
    flex-basis: auto;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .details_chapter {
    overflow: scroll;
  }
  .controlPanel__select,
  .details__summary {
    font-size: .8em;
  }
  .details_chapter {
    font-size: .7em;
  }
  .statusBar__max,
  .statusBar__avg,
  .statusBar__min {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .header__h1 {
    font-size: 1em;
  }
  .footer {
    font-size: 0.7em;
  }
}